/*
-   website-10 "CyberLaw"
-   https://github.com/MayankDevil
-   Designed | Developed by Mayank
-   CSS : ./css/style.css
*/

*
{
    user-select: text;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:var(--font-sans-serif);
    color: var(--dark);
    border: none;
    outline: none;
    box-sizing:border-box;
}
:root
{
    --black:#000000;
    --white:#ffffff;
    --dark:#212529;
    --light-dark:#6c757d;
    --light:#eeeeee;
    --gray:#ced6e0;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background:var(--black);
}
::placeholder
{
    color: var(--white);
}
::selection
{
    color: var(--white);
    background: var(--black);
}

/*
    body css ---------------------------
*/

body
{
    scroll-behavior: smooth;
}
main
{
    display: grid;
}
.container
{
    position: static;
    width: 90%;
    min-width: 1000px;
    margin: auto;
}
.frame
{
    min-height: 100vh;
    border-bottom: 1px solid var(--gray);
}

.row
{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(2,1fr);
}
.sticky
{
    position: sticky;
    top:10vh;
    left:20vw;
}
.col:last-child
{
    width: 65%;
    margin-left: auto;
}

.vh5
{
    height: 20vh;
}

.border-bottom
{
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--light-dark);
}
.border-left
{
    text-align: end;
    height: 20vh;
    padding-right: 5vw;
    margin: 5vw auto;
    border-left:2px solid var(--light-dark);
}

.line
{
    width: 20vw;
    padding: 1px;
    background: var(--dark);
}

.increase
{
    opacity: 0.5;
    transform: scale(0.1);
}

.zooming
{
    transition: all 1s linear;
    opacity: 1;
    transform: scale(1);
}
.side 
{
    clip-path: polygon(100% 0, 83% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.activeSearch
{
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    position: fixed;
    z-index: 10;
    top: 10vh;
    right:5vw;
    padding:10px !important;
    border:1px dotted var(--light-dark);
}

.band
{
    animation: band 0.6s linear 1;
}

@keyframes band
{
    from {
        transition: all 1s linear;
        opacity: 0.8;
        transform: scaleY(0);
    } to {
        transition: all 1s linear;
        opacity: 1;
        transform: scaleY(1);
    } 
}

.rotate
{
    animation: rotate 0.6s linear 1;
}

@keyframes rotate {
    
    form {
        opacity: 0.5;
        transform: rotate(0deg);
    } to  {
        opacity: 1;
        transform: rotate(360deg);
    }
}

/*
    comman css ----------------------------
*/

.display-1
{
    position: fixed;
    z-index: -1;
    top:20%;
    left:0;
    width: 100%;
    padding-right: 5vw;
    text-transform: uppercase;
    text-align: right;
    font-weight: bolder;
    font-size: 20vw;
    font-family: var(--font-monospace);
    color:var(--light);
}
.display-2
{
    font-size: 6vw;
    font-weight: bold;
    color:var(--light-dark);
}
.display-3
{
    padding:1rem;
    font-weight:bold;
    font-size:3vw;
    color:var(--light-dark);
}

h1
{
    padding: 2rem 0;
    font-weight:normal;
    font-size: 5vw;
    color: var(--dark);
}
h2
{
    padding: 1rem;
    font-weight: normal;
    font-size: 2rem;
    color: var(--dark);
}
h3
{
    padding: 1rem;
    font-size:x-large;
    color:var(--dark);
}
h4
{
    padding:0;
    line-height:3rem;
    font-size:large;
    color:var(--light-dark);
}
h5
{
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
}
h6
{
    padding:5vw;
    line-height: 3rem;
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--light-dark);
}

p
{
    padding: 1rem;
    font-weight:normal;
    word-spacing: 5px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--dark);
}

/* govement button */

.btn
{
    display: inline-block;
    margin: 2rem 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: var(--gray);
    background: var(--dark);
}
.btn:hover
{
    transition: all 0.5s linear;
    transform: translate(50px);
}

/* download button */

#download_btn
{
    position: relative;
    padding: 20px;
    color: var(--light-dark);
    border: 1px solid var(--light-dark);
}
#download_btn .before
{
    content: '';
    position: absolute;
    top:10%;
    left:5%;
    padding: 1rem;
    border-top:1px solid var(--black);
    border-left:1px solid var(--black);
    transition: all 0.5s linear;

}
#download_btn .after
{
    content: '';
    position: absolute;
    right:5%;
    bottom:10%;
    padding: 1rem;
    border-bottom:1px solid var(--black);
    border-right:1px solid var(--black);
    transition: all 0.5s linear;
}
#download_btn:hover
{
    font-weight: bold;
    color: var(--black);
}
#download_btn:hover :is(.before, .after) ,
.active_btn
{
    padding: 6rem;
}

/* serach icon */

#search_icon
{
    display: flex;
    align-items: center;
    font-size: 2vw;
    padding: 5px;
    color:var(--black);
    background: var(--white);
}
#search_icon > span
{
    display: black;
    padding: 10px;
    font-size: 1rem;
}
#search_icon:hover
{
    transition: all 0.3s linear;
    padding: 5px 10px;
    background: var(--light);
}

/*
    search css ----------------------------
*/

#search
{
    display: block;
    background: rgba(0,0,0,0.6) url('../data/pic/statement.jpg') no-repeat fixed;
    background-size:100% 100%;
    background-blend-mode:multiply;
}
#search .container
{
    display: grid;
    align-items: center;
    place-content: center;
}
#search #bar
{
    display: block;
    margin: 4rem auto;
    border-bottom: 3px solid var(--gray);
    /* border:1px solid red; */
}
#search_fld
{
    display: inline-block;
    min-width: 500px;
    padding: 10px;
    font-size: 1rem;
    color:var(--light);
    background: transparent;
}
#search .bi
{
    display: inline-block;
    padding:10px;
    color:var(--white);
    font-size: larger;
    font-weight: bold;
}

/*
    it law container css -----------------------
*/

#it_law_container
{
    background: var(--white);
}
details
{
    display: block;
    width: 800px;
    margin: 1rem auto;
}
details:hover
{
    box-shadow: 0 0 10px var(--light-dark);
}
details summary
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--light);
}
details summary .section
{
    font-weight: bold;
}
details summary .title
{
    color:var(--black);
}
details .define
{
    padding: 1rem;
}

/*
    social media ---------------------------
*/

#social
{
    display: block;
    padding:10px;
}
#social .media
{
    display: inline;
}
#social .media .bi
{
    display: inline-block;
    padding:5px;
    font-size: 1.5vw;
    color:var(--black);
}
#social .bi:hover
{
    transform:scale(1.5);
}

/*
    picture css --------------------------
*/

#picture
{
    position: relative;
    height: 300px;
    width: 150px;
    border:10px solid var(--gray)
}
.image
{  
    position: absolute;
    top: 10%;
    left: 10%;
    width: 200px;
    filter:brightness(0);
    /* filter:blur(100); */
    /* animation: 3s infinite alternate glowry; */
}
/* #picture:hover .image:nth-child(1) */
.active_image1
{
    transition: all 1s linear;
    top: 5%;
    left: 5%;
    opacity: 0.3;
}
.active_image2
/* #picture:hover .image:nth-child(2) */
{
    transition: all 1s linear;
    top: 20%;   
    left: 20%;
    opacity: 0.5;
}
/* #picture:hover .image:nth-child(3) */
.active_image3
{
    transition: all 1s linear;
    top: 35%;
    left: 35%;
    opacity: 0.7;
}
/* #picture:hover .image:nth-child(4) */
.active_image4
{
    transition: all 1s linear;
    top: 50%;
    left: 50%;
    opacity: 1;
}

/*
    require section css ------------------
*/

ul
{
    padding:10vh auto;
}
ul::before
{
    content: '';
    width: 300px;
    height: 100px;
    display: block;
    border-top: 1px solid var(--light-dark);
    border-left: 1px solid var(--light-dark);
}
ul li
{
    margin: 10vh;
    list-style: none;
}
ul li h2::before
{
    content: '';
    display: inline-block;
    padding: 1rem;
    margin-right:1rem;
    border: 1px solid var(--black);
    animation: rotate 3s linear infinite;
}

/*
    amendment section css -------------------
*/

#amendment
{
    margin:10vh auto;
    padding:10vh 1rem;
    border-left:1px solid var(--dark);
}
#amendmentFrame
{
    position: static;
    z-index: -2;
    margin:10vh auto;
    width: 90%;
    height: 500px;
    background: var(--dark) url('../data/pic/hamer.jpg') no-repeat fixed;
    background-size: 100% 100%;
    background-blend-mode:luminosity;
}
ol li
{
    list-style:none;
    line-height:3rem;
    padding: 10px 1rem;
}

/*
    rights section css ---------------------
*/

ol li h2
{
    display: inline-block;
    margin: 1rem;
    color: var(--light);
    background: var(--black);
}

/*
    crime section css ----------------------
*/

#crimeFrame
{
    position: static;
    z-index: -2;
    margin:10vh auto;
    width: 90%;
    height: 500px;
    background: var(--dark) url('../data/pic/write.jpg') no-repeat fixed;
    background-size: 100% 100%;
    background-blend-mode:luminosity;
}

/*
    about section css ----------------------
*/

#aboutFrame
{
    position: static;
    z-index: -2;
    margin:10vh auto;
    width: 90%;
    height: 500px;
    background: var(--dark) url('../data/pic/statement.jpg') no-repeat fixed;
    background-size: 100% 100%;
    background-blend-mode:luminosity;
}

/*
    header css -----------------------------
*/

#header
{
    min-height: 100vh;
}
#nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: right;
}
#brandname
{
    padding: 0;
}

/*
    footer css ----------------------------
*/

#footer
{
    background: var(--black);
}
#footer .container
{
    padding: 1rem;
    text-align: center;
    line-height: 3rem;
    color: var(--light);
}
#footer a
{
    color:var(--white);
    font-weight: bold;
}

/*
    ==================
    | RESPONSIVE CSS |------------------------------
    ==================
*/

@media (max-width: 1200px)
{
}

@media (max-width: 992px)
{
}

@media (max-width: 768px)
{
    details summary
    {
        display: grid;
        grid-gap:1rem;
        width: 100%;
    }
}

@media (max-width: 576px)
{
}  
/*
    the end ================================
*/
